# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.env.local
.env.*.local
venv/
.venv/
env/
ENV/
bin/
lib/
include/

# OS-specific
.DS_Store
Thumbs.db

# Secrets and Credentials
service_account.json
/*.json
!app/data/*.json

# VS Code / IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
